/* Stile generale della pagina */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:  #000000; /* Colore di sfondo nero */
    color: #ffffff; /* Colore del testo bianco (alto contrasto)*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 75rem;
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid  #444444; /* Colore del bordo per il separatore */
}

header img {
    width: 25rem;
    height: auto;
    transition: all 0.3s ease-in-out; /* Transizione per un effetto di cambiamento */
}

header div {
    text-align: right;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;  /* Colore del testo bianco */
}

header blockquote {
    font-style: italic;
    color: #ffffff; /* Colore del testo bianco e font italico per le citazioni*/
    margin: 0.625rem 0;
}
/*stile responsivo per l'intestazione quando la larghezza dello schermo è inferiore a 768px (48em), adattando la disposizione degli elementi*/
@media (max-width: 48em) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 6.25rem;
        margin-bottom: 1.25rem;
    }

    header div {
        text-align: center;
    }
}

/* Container principale con tutte le classi relative a container specifici delle diverse pagine*/
main {
    width: 90%;
    max-width: 75rem;
    text-align: right;
    padding: 1.25rem 0;
}

.signup-container, .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.signup-container p, .form-container label, .form-container p {
    font-size: 1.2em;
    margin: 0.625rem 0;
}

.signup-container .btn, .form-container .btn {
    background-color: #ffffff; /* Colore di sfondo dei pulsanti */
    color: #000000; /* Colore del testo dei pulsanti */
    border: none;
    padding: 0.625rem 1.25rem;
    margin: 0.625rem 0;
    cursor: pointer;
    border-radius: 1.25rem;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Transizione per l'effetto hover */
}

.signup-container .btn:hover, .form-container .btn:hover {
    background-color: #1da1f2; /* Colore di sfondo al passaggio del mouse */
}

.separator {
    height: 1px;
    background-color:  #444444;
    margin: 1.25rem 0;
}

/* Lista delle funzionalità */
ul.dropdown-menu {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 1.25rem auto;
    max-width: 37.5rem;
}

ul.dropdown-menu li {
    padding: 0.625rem 0;
    border-bottom: 1px solid  #444444; /* Colore del bordo per gli elementi della lista */
    color: #888888; /* Colore del testo attenuato */
}

/* Footer */
footer {
    font-style: italic;
    text-align: center;
    padding: 1.25rem;
    width: 100%;
    background-color: #000000; /* Colore di sfondo nero */
    border-top: 1px solid  #444444; /* Bordo superiore del footer */
    color: #888888; /* Colore del testo attenuato */
}

footer a {
    color: #ffffff; /* Colore del link bianco */
    text-decoration: none;
    transition: text-decoration 0.3s;
}

footer a:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}

footer p {
    margin: 0.625rem 0 0 0;
}

/* Titolo sezione */
h3 {
    text-align: center;
}

/* Allineamento al centro per dispositivi mobili */
@media (max-width: 48em) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header img {
        width: 6.25rem;
        margin-bottom: 1.25rem;
    }

    header div {
        text-align: center;
    }

    main {
        text-align: center;
    }

    .signup-container, .form-container {
        align-items: center;
        text-align: center;
    }

    ul.dropdown-menu {
        text-align: center;
    }
}

/* Stili di stampa */
@media print {
    body {
        background-color: #ffffff; /* Colore di sfondo bianco */
        color: #000000; /* Colore del testo nero */
    }

    header, main, footer {
        width: 100%;
        max-width: 100%;
    }

    header img {
        width: 6.25rem;
    }

    header div {
        text-align: left;
    }

    .btn {
        display: none; /* Nasconde i pulsanti durante la stampa */
    }

    ul.dropdown-menu li {
        border: none;
    }

    footer {
        border-top: none;
        color: #000000;
    }

    a {
        text-decoration: underline;
        color: #000000; /* Colore del link nero, sottolineato */
    }

    .separator {
        display: none; /* Nasconde i separatori durante la stampa */
    }
}

/* Stile del form di registrazione */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    text-align: left;
    width: 100%;
    margin-bottom: 0.3125rem;
}

.form-container input {
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: 1px solid  #444444;
    border-radius: 0.3125rem;
    background-color: #000000;
    color: #ffffff;
}

/* Stili per i tweet */
.tweet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem;
}

.tweet {
    border: 0.125rem solid #ffffff;
    border-radius: 0.625rem;
    background-color: #000000;
    color: #ffffff;
    padding: 0.9375rem;
    margin: 0.625rem 0; 
    width: 80%;
    max-width: 31.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5); /* Effetto ombra */
}

.tweet .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.3125rem;
    margin-bottom: 0.625rem;
}
/* Nome autore di colore bianco in grassetto */
.tweet .author {
    font-weight: bold;
    color: #ffffff; 
}

.tweet .date {
    font-size: 0.9em;
    color: #ffffff;
}

.tweet .content {
    padding: 0.625rem 0;
    font-size: 1em;
    color: #ffffff;
}

.err{
    color: red;
    font-weight: bold;
    text-align: center;
}

.no-tweets {
    color: #ffffff;
    text-align: center;
    margin-top: 1.25rem;
}
/*Imposta lo stile per il blocco delle informazioni utente, posizionandolo in alto a sinistra e definendo colori e font*/
.user-info {
    position: absolute;
    display: inline-block;
    top: 0.625rem;
    left: 0.625rem;
    color: #fff;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
}
.user-info .username {
    font-weight: bold;
}
.user-info .last-tweet {
    font-size: 0.75rem;
    font-style: italic;
}
/* Stili per il menu di navigazione */
nav {
    text-align: center;
    margin-top: 1.25rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1DA1F2; /* Colore del link al passaggio del mouse */
}

/* Stili per i link disabilitati */
nav ul li a.disabled {
    pointer-events: none;
    color: #888888; /* Grigio per i link disabilitati */
}